body {
    background-color: #061329;
    font-family: 'Inter';
}

h2 {
    color: white;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.5px;
    /* 79.167% */
    letter-spacing: -0.408px;
    /* text-align: center; */
}

div {
    background-color: #635A8F;
    width: 390px;
    height: 282px;
    border-radius: 40px;
    background: #635A8F;
    box-shadow: -8px -8px 16px 0 rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(10px); 
}

p {
    color: white;
}

button {
    background-color: #061329;
    color: white;
}

.IntroText {
    text-align: center;
}